<div class="card m-t-20">
    <div class="card-body">
        <h4 class="card-title">
            <span jhiTranslate="groups.action.authorities">Authorities</span>
            <button type="submit"
                    routerLink="../../"
                    class="btn btn-primary float-left">
                <i class="fa fa-arrow-left"></i>
                &nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>
        </h4>
        <h6 class="card-subtitle">
            <jhi-alert></jhi-alert>
        </h6>
        <div class="table-responsive" *ngIf="group">
            <table class="table">
                <tr *ngFor="let authority of authorities;">
                    <td class="p-0">
                        <div class="custom-control custom-checkbox mr-sm-2">
                            <input class="custom-control-input" type="checkbox" id="{{authority.name}}"
                                   (change)="onChangeAuthority(authority, $event.target.checked)"
                                   [checked]="evaluateAuthority(authority)">
                            <label class="custom-control-label" for="{{authority.name}}">{{authority.name}}</label>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <br>
        <button class="btn btn-primary " [disabled]="isSaving" (click)="submitAuthorities()"><span jhiTranslate="entity.action.save">Save</span></button>
    </div>
</div>
